@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-black font-sans;
}

.text-gold-glow {
  text-shadow: 0 0 10px rgba(212, 175, 55, 0.5);
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}